# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_WAIFU_LEFT

config ZMK_KEYBOARD_NAME
    default "WAIFU"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_WAIFU_LEFT || SHIELD_WAIFU_RIGHT

config ZMK_SPLIT
    default y

endif
