# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HOMY_LEFT

config ZMK_KEYBOARD_NAME
    default "Homy Weeb Keeb"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HOMY_LEFT || SHIELD_HOMY_RIGHT

config ZMK_SPLIT
    default y

endif
