# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_HOMY_LEFT
    def_bool $(shields_list_contains,homy_left)

config SHIELD_HOMY_RIGHT
    def_bool $(shields_list_contains,homy_right)
