# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_WAIFU_LEFT
    def_bool $(shields_list_contains,waifu_left)

config SHIELD_WAIFU_RIGHT
    def_bool $(shields_list_contains,waifu_right)
